#resetButton {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #E91E63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Mobil uyumlu için daha küçük ekranlar için stil */
@media (max-width: 768px) {
    .game-container {
        flex-direction: column;
        align-items: center;
    }

    .dropzone {
        width: 120px;
        height: 120px;
    }

    .shape {
        width: 120px;
        height: 60px;
    }
}
